block config
    include config

doctype html
html
    head
        title #{title}
    body
        block scripts.
            script const text = '#{text}';
            script(src='/js/greeter.js')
            script(src='/reload/reload.js')