block config
    include config

doctype html
html
    head
        title #{title}
        //access data served from backend
        != JShare()
    body
        block scripts.
            script(src='/js/greeter.js')
